{{#each rows}}
<header class="l-gray-header">
  <div class="container pt-5 pb-5">
    <p style="margin: 0;padding:0; letter-spacing:5px">WELCOME</p>
    <h1 style="margin:0;padding:0;">{{this.first_name}}</h1>
  </div>
</header>
{{/each}}